<h1>show student</h1>
<p>name :<%= @student.name %></p>
<p>age:<%= @student.age %></p>
<p>gender:<%= @student.gender %></p>
<p>class_name:<%= @student.class_name %></p>

<% if @student.avatar.attached? %>
<li>
     <% if @student.avatar.representable? %>
        <%= image_tag @student.avatar %>
     <% else %>
        <%= link_to rails_blob_path(@student.avatar, disposition: "attachment") do %>
          Dow load file
        <% end %>
    <% end %>
  </li>
<% else %>
   <h1>No file</h1>
<% end %>